

html {
  scroll-behavior: smooth;
}

:root {
    --cor-primaria: #9006f3;
    --cor-secundaria: #bd36d5;
    --cor-terciaria: #090820;
    --cor-branca: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display";
    background: linear-gradient(90deg, );
}

header {
    backdrop-filter: blur(10px);
    background-color: var(--cor-terciaria);
    padding: 18px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000; 
}

header nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav ul li a {
    color: var(--cor-branca);
    font-size: 22px;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s ease;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--cor-secundaria);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

header nav ul li a:hover {
    color: var(--cor-secundaria);
}

header nav ul li a:hover::after {
    width: 100%;
}

.logo a {
    color: var(--cor-branca);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: var(--cor-secundaria);
}


main {
    display: block;
    padding: 0;
    height: 500px;
}


#Rodape {
    width: 100%;
    background: var(--cor-terciaria);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Rodape h2{ 
    color: var(--cor-branca);
    font-size: 45px;
}

.redes-sociais {
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    border-bottom: var(--cor-secundaria) solid 2px;
    width: 400px;
}

.redes-sociais li a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.redes-sociais li a:hover {
    transform: scale(1.2);
}

.redes-sociais svg {
    fill: var(--cor-branca);
}

#Rodape, p{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
}
 